body {
	background: darkgreen;
	font-family: Arial, Helvetica, sans-serif;
	}
	h1 {
	color: whitesmoke;
	text-align: center;
	}
	.assign {
	display: flex;
	padding: 10 px;
	margin: 10 px;
	background: whitesmoke;
	}
	.assign img {
	width: 100px;
	padding: 100px;
	}


