body {
	background: darkgreen;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-wrap: wrap;
	}
	h1 {
	color: whitesmoke;
	text-align: center;
	width: 100%;
	display: block;
	}
	h1:hover {
	color: limegreen;
	text-align: center;
	width: 100%;
	display: block;
	}
	.assign {
	display: block;
	padding: 10px;
	margin: 10px;
	background-color: green;
	border-radius: 20px; 
	width: 20%;
	box-shadow: 8px 8px darkgray; 
	}
	.assign img {
	width: 200px;
	padding: 10px;
 	border: 2px solid white; 
	}
	.assign img:hover {
	width: 200px;
	margin: 10px;
	border: 2px dotted greenyellow;
	}
	a {
		text-decoration: none; 
		color: gray; 
	}
	a:hover {
		text-decoration: none; 
		color: darkolivegreen; 
	   }
